.f{
  margin-top: 2%;
  max-width: 100%;
  min-height:100%;
  height:auto !important;
  height:100%;
  background: #A2927F;
  padding: 1% 0;
}

.f a{
  color: #bdbdbd;
  font-size: 20px;
}

.footer{
  margin-left: 2%;
}
.data_magazine{
  //width: 40%;
  color: #000;
  text-align: start;
}

a:hover, .phone:hover{
  color: #E6E6FA !important;
}
.f h6{
  color: #000;
  font-size: 15px;
}
.phone{
  color: #bdbdbd;
  font-size: 15px;
}
.info{
  margin-right: 2%;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
